header {
  background-color: powderblue;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

p {
  flex: 1;              /* take remaining space */
  margin: 40px 20px 0 20px;
  font-size: 30px;
  line-height: 1.6;
  color: black;
}

.button{
    background-color: blueviolet;
    padding: 30px;
    display: inline-block;
}

.highlight-label {
    background-color: purple;
    color: black;
    padding: 4px;
    font-weight: bold;
    display: inline-block;
  }

nav {
  background-color: azure;
  padding: 30px;
  width: 220px;         /* wider blue sidebar */
  min-height: 100vh;    /* full page height */
  font-size: 20px;      /* bigger text */
}

html {
  background-color: lightgray;
}

#about {
  display: block; /* Show this one by default */
}

.content {
  display: flex;        /* side by side layout */
  align-items: flex-start; /* align at top */
}

.map-container {
  display: flex;
  justify-content: center; /* centers horizontally */
  margin: 20px 0;
}

.chart-filter-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    gap: 30px;
}

.filter-box {
    flex: 1;
    max-width: 35%;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.chart-box {
    flex: 1;
    max-width: 60%;
}

